@import "tailwindcss";

@theme {
  --font-InterFamily: "Inter", "serif";

  /* Colors */
  --color-AlmostWhite: #fffdfa;
  --color-DarkSpaceBlue: #00001a;
  --color-Gunmetal: #5e607a;
  --color-LightVermillion: #f15d51;
  --color-Silver: #c5c6ce;
  --color-Yellow: #e9aa52;
}

@layer {
  .burgerMenu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 68.3%;
    z-index: 3;
  }
}
